f#separador {
    min-height: 15px !important;
}

.paginadorAzul{
    cursor: pointer;
    background: #0C3D5F;
    margin: 2px;
    min-width: 30px;
    max-width: 30px;
    min-height: 30px;
    max-height: 30px;
}

.borderPagination{
    border: 2px solid;
    border-radius: 20px;
    border-color: #B78E54;
}

.paginadorLeft{
    border-radius: 20px 0 0 20px !important;
}

.paginadorRight{
    border-radius: 0 20px 20px 0 !important;
}

#toast-container {
    top: auto !important;
    right: auto !important;
    bottom: 10%;
    left: 7%;
}

.np{
    padding: 0 !important;
}

.miniatura {
}

.disNone{
    display: none;
}

.miniatura img{
    max-height: 50px;
}

.carrete{
    position: relative;
}

.carrete img{
    max-width: 45px;
    margin:5px;
}

.delimitacion{
    background: #F4F4F4;
    border-radius: 10px;
    display: flex;
}

.horarioAtencionLeft{
    background: #F4F4F4;
    border-right: solid;
    border-color: white;
    border-radius: 10px;
}

.horarioAtencionRight{
    background: #F4F4F4;
    border-left: solid;
    border-color: white;
    border-radius: 10px;
}

.logoActualizar{
    max-width: 40px;
}

.logoVer{
    max-height: 30px;
    float: right;
}

.logoPalabraPerfil{
    max-height: 35px;
    float: right;
}

.sombraImage img:hover {
    box-shadow: 0 0px 0px 2px rgba(0,0,0,0.14), 0 0px 0px 0px rgba(0,0,0,0.12), 0 0px 0px 0px rgba(0,0,0,0.2);
    border-radius: 50%;
}

.sombra:hover{
    box-shadow: 0 0px 0px 2px rgba(0,0,0,0.14), 0 0px 0px 0px rgba(0,0,0,0.12), 0 0px 0px 0px rgba(0,0,0,0.2);
    border-radius: 50%;
}

.logoVerAdministrador{
    max-height: 30px;
    float: right;
    margin-right: 5px;
}

.inputGrande{
    height: 3rem !important;
}

.inputBuscador{
    height: 3rem !important;
    border-bottom: 0 !important;
}

.calificacion{
    max-height: 20px;
}

.mpltComentario{
    margin: 0;
    padding-left: 30px;
    padding-top: 10px;
}

.mplComentario{
    margin: 0px 0px 10px 0px;
    padding-left: 30px;
}

.comentarios{
    background-color: #F9F9F8;
    border-radius: 20px;
    border-left: solid;
    border-left: solid 20px;
    border-color: #0A3351;
    max-width: 90%;
}

.flex{
    display: flex;
}

.comentariosLista{}

.mt0{
    margin-top: 0;
}

.fondoBlanco{
    background: #FFFFFF;
}

.contenedorComentario{
    background: #F9F9F9;
    -webkit-box-shadow:inset 0.5px 0.5px 2px 2.5px #C4BFAA;
    box-shadow:inset 0.5px 0.5px 2px 2.5px #C4BFAA;
    border-radius: 10px;
}

.logoImportar{
    max-width: 65px;
}

.logoComentario{
    max-width: 45px;
    float: right;
    margin: 5px;
}

.logoComentarioEB{
    max-width: 30px;
    float: right;
    margin: 5px;
}

@media screen and (min-width:601px){
    .divAdjuntar{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.editImgUsuario{
    position: absolute;
    left: 80%;
    max-height: 35px;
}

.edit{
    max-height: 35px;
}

.editUsuario{
    max-height: 35px;
    margin: 8px;
}

.categoriasEmpresa{
    margin-top: 10px;
}

.inputFileBoton{
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
}

.containerFotoPerfil{
    position: relative;
    top: 0;
    left: 0;
}

.fotoPerfil{
    max-width: 300px;
    max-height: 300px;
}

.fotoPerfilModal{
    max-width: 200px;
    max-height: 200px;
}

.botonPalabrasClave {
    float: right;
    min-width: 30px;
    background-color: #827717;
    height: 46px;
    border-radius: 8px;
    text-align: center;
    line-height: 50px;
    margin-top: 16px;
}

.detalleProductoEmpresa {
    width: 90% !important;
    margin-left: 5% !important;
    margin-top: 30px;
    padding-top: 15px;
    background-color: #FFFFFF;
}

.nombreEmpresaDetalle {
    margin-bottom: 20px;
}

.informacionEmpresa {
    margin-top: 15px;
}

.empresaContacto {
    margin-top: 15px;
}

.botonReinicio {
    padding-top: 25px !important;
}

.listaProdEmp {
    margin: 10px;
}

.botonEditar {
    color: #004de6;
    opacity: 0.5;
}

.botonEditar:hover {
    color: #004de6;
    opacity: 1;
}

.botonEliminar {
    color: #B43212;
    opacity: 0.5;
}

.botonEliminar:hover {
    color: #B43212;
    opacity: 1;
}

.lh0 {
    line-height: 0;
}

.inputLista {
    height: auto !important;
    line-height: 0.5;
}

.divLista {
    margin-top: 10px !important;
}

.mp0 {
    margin: 0 !important;
    padding: 0 !important;
}

.fitImage {
    max-width: 100%;
}

.tituloListaCategoria {
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Montserrat';
    color: #827717 !important;
}

.tituloListaRubro {
    font-size: 15px;
    font-weight: bolder;
    font-family: 'Montserrat';
    color: #827717 !important;
}


.botonMiniatura {
    max-height: 30px;
}

.seleccionLogin {
    font-weight: bolder;
}

.botonesSeleccion {
    max-width: 150px;
}

.tituloFooter {
    font-weight: 900;
    font-size: 20px;
    margin-top: 10px;
    color: #ffde0f;
    margin-bottom: 10px;
    padding: 0;
    text-align: left;
    font-family: 'Montserrat';
}

.copyrightFooter {
    font-weight: 700;
    font-size: 10px;
    color: #bdbdbd;
}

.tituloCategoriaIndex {
    font-weight: 700;
    text-shadow: 1px 1px 5px lightslategrey;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 40px;
    font-family: 'Montserrat';
    color: #827717 !important;
}

.tituloCard {
    font-weight: 700;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 40px;
    padding-top: 15px;
    font-family: 'Montserrat';
    color: #827717 !important;
}

.tituloSeleccionRegistro {
    font-weight: 700;
    text-shadow: 1px 1px 5px lightslategrey;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 50px;
    font-family: 'Montserrat';
    color: #827717 !important;
}

.footerColor{
    background-color: #0C3D5F !important;
}

.tituloLogin {
    font-weight: 700;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 25px;
    font-family: 'Montserrat';
    color: #827717 !important;
}

.fyndyFooter {
    font-size: 15px;
    color: #ffde0f;
    font-weight: 900;
}

.lemaFooter {
    font-size: 15px;
    color: #FFFFFF;
    font-weight: 900;
}

.listaFooter {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: Helvetica;
}

.listaFooter a {
    color: #FFFFFF;
}

.tabla {
    max-width: 80%;
    margin-left: 10%;
    margin-top: 40px;

}

.opcionSUpDerecha {
    font-weight: 700;
    text-shadow: 1px 1px 5px lightslategrey;
    text-align: center;
    font-size: 20px;
}

.opcionSUpDerechaInterna {
    font-weight: 700;
    text-align: center;
    font-size: 15px;
    color: #ffde0f;
}

.bodyPagina {
    background: url(../images/fondo.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
}


@media screen and (min-width:900px) {
    .containerIndex {
        background-image: url(../images/fondoInicio.svg);
        background-position: bottom;
        background-repeat: repeat-x;
        background-size: contain;
        width: 100%;
        margin: 0;
        height: 350px;
    }
}

@media screen and (min-width:550px) and (max-width: 900px) {
    .containerIndex {
        background-image: url(../images/fondoInicio.svg);
        background-position: bottom;
        height: 100%;
        background-repeat: repeat-x;
        background-size: contain;
        width: 100%;
        margin: 0;
        height: 225px;
    }
}

@media screen and (max-width:550px) {
    .containerIndex {
        background-image: url(../images/fondoInicio.svg);
        background-position: bottom;
        background-repeat: repeat-x;
        background-size: contain;
        width: 100%;
        margin: 0;
        height: 130px;
    }
}


.comentarioBox {
    resize: none !important;
    background: transparent !important;
    min-height: 3rem !important;
    line-height: 2 !important;
    height: 100px !important;
    text-align: inherit !important;
    color: rgb(66, 66, 66) !important;
    border: none !important;
    padding: 0px 0px 0px 10px !important;
    overflow-y: auto !important;
    box-shadow: none !important;
}

.comentario {
    max-width: 90%;
    margin-left: 5%;
}

.navFyndyGeneral {
    background-color: #0C3D5F !important;
    box-shadow: none;
    font-family: 'Montserrat';
}

.navFyndy {
    background-color: transparent !important;
    box-shadow: none;
    font-family: 'Montserrat';
}

.margenSuperior {
    padding-top: 20px;
}

.logo {}

@media screen and (min-width:1050px) {
    .logo {
        max-height: 150px;
        max-width: 200px;
        position: absolute;
        top: 120px;
        left: 10%;
    }
}

@media screen and (max-width:1049px) {
    .logo {
        max-height: 150px;
        max-width: 200px;
        display: block;
        margin: auto;
        top: 50px;
    }
}

.logoBusqueda {
    max-height: 70px;
    max-width: 180px;
    position: absolute;
    left: -185px;
}

.botonBusqueda {
    max-width: 100%;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 2;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
}

.buscador {}

@media screen and (min-width:1400px) {
    .buscador {
        background: white;
        border-radius: 10px;
        max-width: 50%;
        margin: auto;
        margin-top: 60px;
        max-height: 48px;
    }
}

@media screen and (min-width:1050px) and (max-width: 1399px){
    .buscador {
        background: white;
        border-radius: 10px;
        max-width: 40%;
        margin: auto;
        margin-top: 60px;
        max-height: 48px;
    }
}

@media screen and (max-width: 1049px) {
    .buscador {
        background: white;
        border-radius: 10px;
        max-width: 70%;
        margin: auto;
        margin-top: 20px;
        max-height: 48px;
    }
}

@media screen and (max-width:850px) {
    .centerBuscador {
        max-width: calc(100% - 45px);
        margin-left: 5px;
    }
}

.buscador:hover, 
.buscador:focus, 
.buscador:active  {
    box-shadow: 0 0 0 2pt #827717;
}

@media screen and (min-width:850px) {
    .leftBuscador {
        float: left;
        min-width: 80px;
        max-width: 80px;
        background-color: #0E2F44;
        height: 48px;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
    }

    .centerBuscador {
        max-width: calc(100% - 125px);
        margin: auto;
        margin-left: 85px;
    }
}

@media screen and (max-width:850px) {
    .centerBuscador {
        max-width: calc(100% - 45px);
        margin-left: 5px;
    }
}

.rightBuscador {
    float: right;
    min-width: 40px;
    background-color: #827717;
    height: 48px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    text-align: center;
    font-size: 15px;
    line-height: 50px;
}

@media screen and (min-width:850px) {
    .rightEnviar {
        float: right;
        min-width: 30px;
        background-color: #827717;
        height: 46px;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        text-align: center;
        font-size: 15px;
        line-height: 50px;
        margin-top: 16px;
    }
}

@media screen and (max-width:850px) {
    .rightEnviar {
        float: right;
        min-width: 42px;
        background-color: #827717;
        height: 46px;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        text-align: center;
        font-size: 15px;
        line-height: 50px;
        margin-top: 16px;
    }
}

.productosContainer {
    padding-top: 20px !important;
}

.listaPublicidad {
    position: relative;
    max-height: 150px;
    margin: auto;
    background-color: transparent !important;
    margin-top: 20px;
    border-radius: 5px;
}

.listaPublicidad .row {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0;
}

.listaPublicidad img {
    max-width: 100%;
    margin: auto;
    border-radius: 5px;
    max-height: 150px;
}

.tituloEmpresas {
    min-height: 55px;
    font-family: 'Montserrat';
    color: #827717 !important;
}

.listaEmpresas {
    position: relative;
    min-height: 100%;
    margin: auto;
    background-color: #FFF;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.listaEmpresas:hover {
    box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

.listaEmpresas .row {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0;
}

.listaEmpresas img {
    width: 100%;
    height: auto;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

@supports(object-fit: cover){
    .listaEmpresas img{
        max-height: 200px;
        min-height: 200px;
        object-fit: cover;
        object-position: center center;
    }
}

.listaEmpresas span {
    font-size: 16px;
    line-height: 1.4rem;
    font-weight: 800;
    text-align: center;
}

.listaEmpresas p {
    margin: 0;
    font-size: 16px;
    line-height: 1.4rem;
    text-align: justify;
}

.footerCopyright {
    min-height: 20px !important;
    justify-content: space-between;
    font-family: 'Montserrat';
}

.tituloCatIndex {
    max-width: 100%;
    min-height: 55px;
    font-family: 'Montserrat';
    color: #827717 !important;
}

.listaCategorias {}

.listaCategoriasEmpresa {}

.listaCategoriasEmpresa img {
    max-height: 40px !important;
    margin: auto;
    display: block;
}

.listaCategoriasEmpresa a {
    float: left;
}

.listaCategoriasEmpresa p {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    margin: 9px;
    padding: 0;
    float: left;
}

@media screen and (max-width:950px) {
    .listaCategorias {
        min-height: 190px;
        max-height: 190px;
    }
}

.listaCategorias img:hover {
    box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -7px rgba(0,0,0,0.2);
    border-radius: 50%;
}

.listaCategorias img {
    max-height: 120px !important;
    margin: auto;
    display: block;
}

.listaCategorias p {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    margin: 9px;
    padding: 0;
}

.pointer {
    cursor: pointer;
}

.google-maps {
    position: relative;
    height: 250px;
    overflow: hidden;
    box-shadow: 0 0 0 2pt #827717;
}

.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    z-index: 1001;
}

.gif{
    background: url(../images/gif/Fynddy.gif) no-repeat center;
    background-size: cover;
    min-height: 100%;
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: #CCCCCC;
    z-index: 1000;
    -webkit-transform: translateX(0);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(0);
    /* IE 9 */
    transform: translateX(0);
    /* Firefox 16+, IE 10+, Opera */
}

/* Loaded */

.loaded #loader-wrapper .loader-section {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
}

.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.loaded #loader-wrapper {
    visibility: hidden;
    -webkit-transition: all 0.8s 1s ease-out;
    transition: all 0.8s 1s ease-out;
}

/* JavaScript Turned Off */

.no-js #loader-wrapper {
    display: none;
}

.stats-card {
    display: block;
    position: relative;
    overflow: hidden;
}

.card-panel {
    transition: box-shadow .25s;
    padding: 2rem 5rem 2rem 2rem;
    margin: 0.66667rem 0 1.33333rem 0;
    border-radius: 2px;
    background-color: #fff;
}

[class^="icon-"],
[class*=" icon-"] {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.stats-card>i {
    position: absolute;
    font-size: 4rem;
    right: 1.5rem;
    top: 1rem;
}

.stats-card .count {
    position: relative;
    font-weight: bold;
    font-size: 2rem;
    line-height: 2rem;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}